@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Bitter:400);

html, body {
	height: 100%;
	color: #444;
	font-family: 'Lato', sans-serif;
}

body {

}

@media (min-width: 768px) {
	h1 {
		font-size: 68px;
	}
}

a {
	color: #999;
}

a:hover {
	color: #111;
}

.quote {
	font-style: italic;
}

.btn,.well,.panel {
	border-radius: 0;
}

.btn-danger {
	border: 1px solid #ff7a00;
	background-color: #ff6600;
}

.btn-danger:link {
	border: 1px solid #ff7a00;
	background-color: #ff6600;
}

.btn-danger:hover {
	border: 1px solid #ff6600;
	background-color: #ff7a00;
}

.btn-danger:active {
	border: 1px solid #ff6600;
	background-color: #ff4d00;
}

.text-danger, a.text-danger {
	color: #ff6600;
}

.btn-huge {
	padding: 17px 22px;
	font-size: 22px;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.twitter-icon {
	color: #4099ff;
}

.icon-bar {
	background-color: #fff;
}

.navbar-trans {
	background-color: #2b2b2b;
	color: #fff;
	border-width: 0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
	padding: 14px;
	color: #fff;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color: #ff6600;
	color: #333;
}

.navbar-trans li>a:hover {
	background-color: #ff7a00;
	color: #fff;
}

.navbar-trans a{
	color: #fff;
	letter-spacing: 1px;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	padding: 7px;
	text-align: center;
	z-index: -1;
}

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.5);
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

section {
	position: relative;
	padding-top:70px;
	padding-bottom:50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#home {
	height: 100%;
	max-height: 800px;
	padding-top: 30vh;
}


#home, #signup {
	background-color: rgba(64,25,0,0.4);
	color:#fff;
}

#home h1 {
	font-weight: lighter;
}

#podcasts {
	background-color: #fff;
}

#signup {
	background-color: rgba(35,25,0,0.6);
}

#quotes {
	background-color: #fff;
}

#icons {
	background-color: #ff6600;
	color: #f6f6f6;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

#podcasts {
	background-color: #fff;
}

.phoneNumber {
	font-size: 2em;
	color: #ff6600;
	font-weight: bold;
}

.invalidEmailWarning {
	font-size: 1em;
	color: #f00;
	display: none;
}

.emptyFieldWarning {
	font-size: 1em;
	color: #f00;
	display: none;
}

.signupHeading {
	display: block;
}

.signupThankYou {
	color: #ff6600;
	display: none;
}

.signupBox {
	display: block;
}

.imgBorder {
	border-color: #ff6600;
	border-style: solid;
	border-width: 2px;
}

footer {
	background-color:#2b2b2b;
	color:#ddd;
	min-height:100px;
	padding-top:20px;
	padding-bottom:40px;
}

footer .nav>li>a {
	padding: 3px;
	color: #ff6600;
}

footer .nav>li>a:hover {
	background-color:transparent;
	color:#fff;
}

.logo {
	margin: 5px;
	margin-right: 40px;
}


div.cover {
	z-index: -100;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
img.cover {
	position: absolute;
	top: 0;
	left: -100px;
	right: 0;
	bottom: -200px;
	margin: auto;
	max-width: 300vw;
	max-height: 300vh;
}
